.auth-bg {
  height: 100vh;
  background: url("../assets/logo1.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 380px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  text-align: center;
}

.auth-card h2 {
  color: #000;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #053b28;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.auth-card p {
  margin-top: 15px;
}
@media (max-width: 480px) {
  .auth-card {
    padding: 25px;
  }

  .auth-card h2 {
    font-size: 22px;
  }
}
