.register-bg {
  position: relative;
  height: 100vh;
  background: url("../assets/logo1.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.error-text {
  color: #ff4d4f;
  background-color: #fff1f0;
  border: 1px solid #ffa39e;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.register-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  
  transform: scale(1.1);
  z-index: 1;
}
.register-card {
  position: relative;
  z-index: 2;
  width: 400px;
  background: rgba(106, 155, 124, 0.33);
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.register-card h2 {
  margin-bottom: 20px;
}

.register-card input {
  width: 100%;
  padding: 7px;
  margin-bottom: 15px;
  border-radius:10px;
  border: 1px solid #ddd;
}

.register-card button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to right, #0f1512, #1c3d26);
  color: white;
  font-size: 16px;
  cursor: pointer;
}